.input {
	outline: none;
	border: none;
	font-size: 2rem;

	&::placeholder {
		color: black;
		font-size: 2rem;
	}

	&__beige {
		background-color: $light-brown;
		height: 6.4rem;
		border-radius: 1.8rem;
		padding: 2rem;
	}

	&__container {
		& .input {
			display: block;
		}

		& label {
			display: block;
			margin-bottom: 1rem;
		}
	}
}
